<!DOCTYPE html>

<html>

<head>

    <title>GitHub Actions Lab</title>

</head>

<body>

    <h1>Hello from GitHub Actions</h1>

    <p>This site is deployed automatically.</p>

    <p>This is a test paragraph to see if the action runs following an edit</p>

</body>

</html>